<div class="leagman">

	<div class="filterForm filterForm--tables">

		<div class="toolbar">
	  	<button *ngIf="leagueData" (click)="toggleFilterForm()">filter</button>
  	</div>

    <app-league-select [selectedLeague]="leagueId" (leagueChanged)="onLeagueChange($event)"></app-league-select>

		<div [@openClose]="isFilterOpen ? 'open' : 'closed'" class="open-close-container">
			<form [formGroup]="filterForm">

				<div class="formRow" formArrayName="divisions">

					<div class="formRow__label">Divisions</div>
					<div class="formRow__field">
	  				<ng-container *ngFor="let division of divisions.controls; let i = index">

	  					<label class="formField--multiline">
	  					  <input type="checkbox" [value]="i" [formControlName]="i">
	  					  {{divisionList[i]}}
	  					</label>

	  				</ng-container>
					</div>

				</div>

			</form>

		</div>

	</div>

  <hr/>

	<div *ngIf="leagueData" class="tables">

		<div class="title title--headline">{{leagueData.name}}</div>
		<!-- //TODO is this needed
		<div class="tables__notes">Last updated on {{leagueData.updated_on}}</div>
		-->

		<div *ngFor="let division of divisionsDataFiltered" class="tables__division">

			<div class="title title--subline">{{division.longName}}</div>

			<table class="table">

				<tr class="table__header table__header--row">
					<th class="table__header table__header--pos"></th>
					<th class="table__header table__header--team_name">Team</th>
					<th class="table__header table__header--played">Ply</th>
					<th class="table__header table__header--won">W</th>
					<th class="table__header table__header--drawn">D</th>
					<th class="table__header table__header--lost">L</th>
					<th class="table__header table__header--goals_f">GF</th>
					<th class="table__header table__header--goals_a">GA</th>
					<th class="table__header table__header--goal_diff">GD</th>
					<th class="table__header table__header--points">Pts</th>
					<th class="table__header table__header--max_points">Max</th>
				</tr>

				<tr *ngFor="let team of division.teams" class="table__row table__row--{{team.extraclass}">
					<td class="table__row table__row--pos">{{team.pos}}</td>
					<td class="table__row table__row--team_name">
						{{team.teamName}}
						<span *ngIf="team.deductPoints > 0" class="table__row--deductions">{{team.deductPoints}} - {{team.deductReason}}</span>
					</td>
					<td class="table__row table__row--played">{{team.played}}</td>
					<td class="table__row table__row--won">{{team.won}}</td>
					<td class="table__row table__row--drawn">{{team.drawn}}</td>
					<td class="table__row table__row--lost">{{team.lost}}</td>
					<td class="table__row table__row--goals_f">{{team.goalsF}}</td>
					<td class="table__row table__row--goals_a">{{team.goalsA}}</td>
					<td class="table__row table__row--goal_diff">{{team.goalsF - team.goalsA}}</td>
					<td class="table__row table__row--points">{{team.points}}</td>
					<td class="table__row table__row--max_points">{{team.maxPoints}}</td>
				</tr>

			</table>

		</div>

	</div>

</div>
