<div class="leagman">

	<div class="filterForm filterForm--clubs">

		<form [formGroup]="selectForm">

  		<div class="formRow">

  			<div class="form__label">Club</div>
				<div class="formRowField">
    			<select formControlName="clubId">
    				<option *ngFor="let club of clubsList" [value]="club.id">{{club.name}}</option>
    			</select>
    		</div>

  		</div>

		</form>

	</div>

	<div *ngIf="clubData" class="club">

    <h2>{{clubData.name}}</h2>

    <dt *ngIf="clubData.teams">Teams</dt>
    <dd *ngIf="clubData.teams">
      <ul>
        <ng-container *ngFor="let team of clubData.teams">
          <li *ngIf="team.trim().length">{{team}}</li>
        </ng-container>
      </ul>
    </dd>

    <dt *ngIf="clubData.website">Website</dt>
    <dd *ngIf="clubData.website">
      <ul>
        <li>
          <a href="http://{{clubData.website}}" target="_blank">{{clubData.website}}</a>
        </li>
      </ul>
    </dd>

    <dt *ngIf="clubData.email">EMail</dt>
    <dd *ngIf="clubData.email">
      <ul>
        <li *ngFor="let email of clubData.email">{{email}}</li>
      </ul>
    </dd>

    <dt *ngIf="clubData.colours.length">Colours</dt>
    <dd *ngIf="clubData.colours.length">
      <ul>
        <li *ngFor="let colour of clubData.colours">{{colour}}</li>
      </ul>
    </dd>

    <dt *ngIf="clubData.notes" class="club__notes">Notes</dt>
    <dd *ngIf="clubData.notes" class="club__notes">
      <ul>
        <ng-container *ngFor="let note of clubData.notes">
          <li *ngIf="note.trim().length">{{note}}</li>
        </ng-container>
      </ul>
    </dd>


	</div>

</div>

