.leagman .tables{
	width:100%;
}

.table{
	width:100%;
}

.tables__title{
	font-size: 1.5em;
}

.tables__notes{
	font-size: .8em;
}

.tables__title--division{
	font-size: 1.2em;
}

.table__header{
	background-color: #ccc;
	text-align: right;
	vertical-align: middle;
	width: 6%;
}

.table__header--pos{
	text-align: center;
	width: 3%;
}
.table__header--team_name{
	text-align: left;
	width: 37%;
}


.table__row{
	border-bottom: 1px solid #ededed;
	padding: 8px 4px;
	text-align: right;
	vertical-align: top;
}

.table__row--pos{
	text-align: center;
}
.table__row--team_name{
	text-align: left;
}

.table__row--deductions{
	display: block;
	font-size: .8em;
}

@media all and (max-device-width: 599px) {
	.table__header--won,
	.table__header--drawn,
	.table__header--lost,
	.table__header--goals_f,
	.table__header--goals_a,
	.table__header--max_points,
	.table__row--won,
	.table__row--drawn,
	.table__row--lost,
	.table__row--goals_f,
	.table__row--goals_a,
	.table__row--max_points
	{
		display: none;
	}
}