$spacing-small: 5px;
$spacing-medium: 10px;
$spacing-large: 20px;

$color-heading: #ccc;
$color-subheading: #eee;
$color-eyecatcher: #eee;

.leagman {

  /*==================================================
    Common
    ==================================================*/
  .title {
		background-color: $color-heading;
		padding: $spacing-medium;
		
		&--headline {
			font-size: 1.5em;
		}

		&--subline {
			font-size: 1.2em;
		}
  }

  /*==================================================
    Filter form
    ==================================================*/

  .filterForm {
    border: 1px solid $color-heading;
    margin-top: $spacing-medium;
    padding: $spacing-medium 0;

    .formRow {
      display: grid;
      grid-template-columns: 200px 1fr;
      grid-gap: $spacing-large;
      padding: $spacing-medium;

      &__label {
        grid-column: 1 / 2;
      }

      &__field {
        grid-column: 2 / 3;

      }
    }

    .formField{
      &--multiline {
        display: block;
      }
    }

		@media (max-device-width: 599px) {
	    .formRow {
	      grid-template-columns: 1fr;
	      grid-gap: $spacing-small;
      	padding: 0 $spacing-medium;

	      &__label {
	        grid-column: 1 / 2;
	      }

	      &__field {
	        grid-column: 1 / 2;
					padding-bottom: $spacing-small;
					padding-left: $spacing-medium;
	      }
	    }
	  }
	}

  /*==================================================
    Fixtures
    ==================================================*/
  .fixtures {
    width: 100%;

    &__header {
      background-color: $color-heading;
    }

    &__row {
      border-bottom: 1px solid $color-heading;
      display: grid;
      grid-template-columns: 4fr 2fr 8fr 1fr 1fr 1fr 8fr 7fr;
      grid-gap: $spacing-large;
      padding: $spacing-medium;

      &--date {
        grid-column: 1 / 2;
      }

      &--time {
        grid-column: 2 / 3;
      }

      &--homeTeam {
        grid-column: 3 / 4;
        text-align: right;
      }

      &--homeScore {
        grid-column: 4 / 5;
        text-align: center;
      }

      &--result {
        grid-column: 5 / 6;
        text-align: center;
      }

      &--awayScore {
        grid-column: 6 / 7;
        text-align: center;
      }

      &--awayTeam {
        grid-column: 7 / 8;
      }

      &--venue {
        grid-column: 8 / 9;
      }

      &--heading {
			  background-color: $color-heading;
      }

      &--notes {
        background-color: $color-eyecatcher;
        grid-column: 1 / 9;
        text-align: right;
      }

      &--postponedText {
        background-color: #eee;
        grid-column: 1 / 9;
        text-align: right;
      }
    }

		@media (max-device-width: 599px) {
	    &__row {
	      grid-template-columns: 10fr 2fr 1fr 2fr 10fr;
	      grid-gap: $spacing-small;
	      padding: $spacing-medium;

	      &--date {
	        grid-column: 1 / 2;
        	text-align: right;
	      }

	      &--time {
	        grid-column: 5 / 6;
	      }

	      &--homeTeam {
	        grid-column: 1 / 2;
	        text-align: right;
	      }

	      &--homeScore {
	        grid-column: 2 / 3;
	        text-align: right;
	      }

	      &--result {
	        grid-column: 3 / 4;
	      }

	      &--awayScore {
	        grid-column: 4 / 5;
	        text-align: left;
	      }

	      &--awayTeam {
	        grid-column: 5 / 6;
	      }

	      &--venue {
	        grid-column: 1 / 6;
	        text-align: center;
	      }

	      &--notes {
	        grid-column: 1 / 6;
	        text-align: center;
	      }

	      &--postponedText {
	        grid-column: 1 / 6;
	        text-align: center;
	      }
	    }
		}
  }

  /*==================================================

    ==================================================*/

	.tables{
		width:100%;

		&__title{
			font-size: 1.5em;

			&--division{
				font-size: 1.2em;
			}
		}

		&__notes{
			font-size: .8em;
		}

	}

	.table{
		width:100%;

		&__header{
			background-color: $color-heading;
			text-align: right;
			vertical-align: middle;
			width: 6%;
		}

		&__header--pos{
			text-align: center;
			width: 3%;
		}

		&__header--team_name{
			text-align: left;
			width: 37%;
		}

		&__row{
			border-bottom: 1px solid $color-heading;
			padding: 8px 4px;
			text-align: right;
			vertical-align: top;
		}

		&__row--pos{
			text-align: center;
		}

		&__row--team_name{
			text-align: left;
		}

		&__row--deductions{
			display: block;
			font-size: .8em;
		}

	}

	@media all and (max-device-width: 599px) {
		.table__header--goals_f,
		.table__header--goals_a,
		.table__header--max_points,
		.table__row--goals_f,
		.table__row--goals_a,
		.table__row--max_points
		{
			display: none;
		}
	}
}