.leagman {

  /*==================================================
    Filter form
    ==================================================*/

  .filterForm {
    border: 1px solid #ccc;
    margin-top: 10px;

    .formRow {
      display: grid;
      grid-template-columns: 200px 1fr;
      grid-gap: 16px;
      padding: 10px;

      &__label {
        grid-column: 1 / 2;
      }

      &__field {
        grid-column: 2 / 3;

      }

    }

    .formField{

      &--multiline {
        display: block;
      }

    }

  }

  /*==================================================
    Fixtures
    ==================================================*/
  .fixtures {
    width: 100%;

    &__header {
      background-color: #ccc;
    }

    &__row {
      border-bottom: 1px solid #ccc;
      display: grid;
      grid-template-columns: 2fr 2fr 4fr 1fr 1fr 4fr 3fr;
      grid-gap: 16px;
      padding: 10px;

      &--date {
        grid-column: 1 / 2;
      }

      &--time {
        grid-column: 2 / 3;
      }

      &--homeTeam {
        grid-column: 3 / 4;
        text-align: right;
      }

      &--homeScore {
        grid-column: 4 / 5;
        text-align: center;
      }

      &--awayScore {
        grid-column: 5 / 6;
        text-align: center;
      }

      &--awayTeam {
        grid-column: 6 / 7;
      }

      &--venue {
        grid-column: 7 / 8;
      }

      &--notes {
        grid-column: 1 / 8;
        text-align: right;
      }

      &--postponedText {
        grid-column: 1 / 8;
        text-align: right;
      }

      &--heading {
			  background-color: #ccc;
      }
    }

  }

  /*==================================================

    ==================================================*/

	.tables{
		width:100%;

		&__form{
					padding: 10px;
		}

		&__title{
			font-size: 1.5em;

			&--division{
				font-size: 1.2em;
			}
		}

		&__notes{
			font-size: .8em;
		}

	}

	.table{
		width:100%;

		&__header{
			background-color: #ccc;
			text-align: right;
			vertical-align: middle;
			width: 6%;
		}

		&__header--pos{
			text-align: center;
			width: 3%;
		}

		&__header--team_name{
			text-align: left;
			width: 37%;
		}

		&__row{
			border-bottom: 1px solid #ccc;
			padding: 8px 4px;
			text-align: right;
			vertical-align: top;
		}

		&__row--pos{
			text-align: center;
		}

		&__row--team_name{
			text-align: left;
		}

		&__row--deductions{
			display: block;
			font-size: .8em;
		}

	}

	@media all and (max-device-width: 599px) {
		.table__header--goals_f,
		.table__header--goals_a,
		.table__header--max_points,
		.table__row--goals_f,
		.table__row--goals_a,
		.table__row--max_points
		{
			display: none;
		}
	}
}